#### read dataset

In [19]:
import pandas as pd
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import os

In [20]:
# ===============================
# 1. LOAD DATASET
# ===============================

df = pd.read_csv("dataset\WineQT.csv")
print("Dataset Loaded!")
df.head()

Dataset Loaded!

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [22]:
df.quality.value_counts()

quality
5    483
6    462
7    143
4     33
8     16
3      6
Name: count, dtype: int64

#### var inden dan depen

In [23]:
x = df.iloc[:, :-2]
y = df.iloc[:, -2]

y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [24]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2

In [25]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

enc_x = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1)
X = enc_x.fit_transform(x)

# encoder label
label_encoder = LabelEncoder()
Y = label_encoder.fit_transform(y)

In [26]:
X

array([[ 25.,  74.,   0., ...,  62.,  17.,  10.],
       [ 29., 110.,   0., ...,  31.,  29.,  15.],
       [ 29.,  86.,   4., ...,  37.,  26.,  15.],
       ...,
       [ 13.,  54.,   8., ...,  56.,  19.,  24.],
       [ 10.,  45.,  10., ...,  63.,  37.,  33.],
       [ 10.,  63.,  12., ...,  68.,  32.,  21.]])

In [27]:
Y

array([2, 2, 2, ..., 2, 3, 2])

#### split data test dan train

In [28]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
y_test

array([2, 1, 3, 3, 2, 3, 2, 3, 3, 4, 2, 3, 3, 2, 3, 3, 3, 3, 2, 2, 3, 2,
       4, 3, 2, 2, 2, 3, 3, 2, 3, 2, 2, 3, 2, 3, 3, 1, 2, 3, 2, 3, 3, 3,
       2, 2, 2, 4, 5, 3, 3, 2, 2, 4, 2, 2, 2, 2, 2, 3, 3, 2, 3, 2, 3, 2,
       3, 2, 2, 4, 2, 2, 3, 4, 3, 4, 3, 4, 2, 4, 2, 2, 3, 2, 3, 3, 3, 2,
       2, 4, 3, 4, 1, 2, 3, 3, 2, 2, 2, 2, 0, 2, 5, 2, 3, 3, 3, 3, 2, 2,
       2, 2, 2, 4, 3, 3, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 4, 2, 3, 4, 3,
       3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 3, 4, 2, 2, 3, 4, 3, 2, 2, 3, 3, 3,
       2, 2, 2, 3, 2, 3, 2, 3, 2, 2, 2, 2, 4, 4, 4, 3, 2, 1, 2, 4, 3, 3,
       3, 2, 2, 3, 2, 2, 2, 2, 2, 3, 2, 1, 1, 2, 4, 2, 2, 3, 3, 2, 2, 3,
       3, 3, 2, 3, 1, 4, 4, 4, 2, 2, 2, 2, 3, 3, 3, 4, 2, 2, 3, 3, 2, 4,
       3, 3, 3, 2, 2, 3, 4, 2, 2])

In [29]:
x_test

array([[ 42.,  89.,  22., ...,  29.,  12.,  13.],
       [ 20., 131.,   6., ...,  62.,   4.,  35.],
       [ 42.,  86.,  68., ...,   4.,  81.,   5.],
       ...,
       [ 40.,  24.,  40., ...,  38.,  36.,  48.],
       [ 44.,  65.,  26., ...,  36.,   3.,  13.],
       [ 39.,  62.,  17., ...,  34.,  15.,  13.]])

In [30]:
x_train

array([[12., 54.,  8., ..., 49., 15., 30.],
       [59., 18., 44., ..., 33., 39., 18.],
       [40., 27., 32., ..., 49., 38., 24.],
       ...,
       [49., 25., 43., ..., 30.,  7., 35.],
       [22., 41.,  3., ..., 61., 21., 15.],
       [39., 19., 41., ..., 41., 23., 43.]])

In [31]:
y_train

array([2, 3, 4, 2, 3, 3, 3, 3, 2, 2, 3, 4, 2, 3, 3, 3, 2, 3, 2, 4, 2, 3,
       4, 2, 2, 3, 3, 2, 3, 3, 2, 2, 3, 2, 3, 3, 3, 2, 2, 2, 3, 3, 2, 3,
       2, 3, 2, 4, 2, 4, 3, 3, 2, 3, 2, 4, 2, 3, 2, 3, 2, 2, 2, 2, 2, 3,
       0, 2, 2, 3, 2, 2, 2, 3, 3, 2, 3, 2, 4, 2, 2, 2, 3, 4, 3, 2, 2, 3,
       3, 3, 2, 1, 2, 2, 2, 3, 3, 2, 2, 4, 4, 1, 2, 4, 3, 3, 2, 3, 4, 3,
       2, 5, 3, 4, 4, 3, 4, 2, 4, 2, 2, 3, 4, 2, 2, 4, 3, 5, 2, 4, 3, 2,
       2, 2, 3, 2, 3, 2, 2, 3, 3, 2, 3, 2, 2, 4, 3, 2, 5, 2, 3, 3, 2, 4,
       2, 2, 3, 2, 3, 2, 3, 4, 3, 3, 2, 3, 4, 3, 2, 2, 2, 2, 2, 3, 3, 3,
       2, 2, 2, 3, 2, 2, 3, 3, 2, 3, 3, 2, 4, 3, 2, 2, 1, 4, 2, 2, 4, 3,
       3, 2, 2, 3, 1, 2, 5, 2, 2, 3, 3, 2, 3, 1, 4, 5, 4, 3, 1, 4, 3, 3,
       4, 3, 3, 3, 2, 4, 5, 3, 3, 3, 3, 2, 3, 4, 2, 3, 2, 3, 2, 4, 3, 3,
       3, 2, 3, 3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 3, 2, 4, 3, 2, 2, 2, 4, 2, 2, 5, 3, 2, 3, 2, 4, 2, 3, 3, 2, 2,
       3, 4, 3, 2, 3, 3, 2, 2, 2, 3, 3, 2, 3, 4, 3, 3, 2, 2, 2, 3, 3, 2,
       2, 2, 2, 2, 1, 2, 3, 3, 2, 3, 2, 4, 2, 4, 3, 2, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 3, 3, 3, 2, 2, 2, 3, 2, 2, 3, 3, 2, 3, 3, 4, 3, 2, 3, 4,
       3, 3, 4, 2, 5, 4, 2, 3, 3, 2, 1, 3, 2, 2, 3, 2, 2, 4, 3, 3, 3, 2,
       3, 0, 2, 3, 2, 2, 3, 3, 2, 2, 4, 2, 2, 2, 3, 2, 2, 3, 3, 2, 3, 3,
       2, 1, 4, 2, 4, 3, 2, 3, 3, 2, 1, 3, 4, 2, 4, 4, 2, 3, 2, 3, 3, 3,
       2, 3, 3, 4, 4, 3, 2, 4, 3, 4, 2, 2, 3, 2, 4, 3, 2, 2, 3, 4, 3, 3,
       3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 3, 2, 3, 1, 2, 4, 3, 3, 3, 4, 3, 3,
       4, 3, 2, 4, 3, 3, 3, 2, 2, 3, 2, 2, 3, 2, 2, 5, 3, 2, 4, 3, 3, 2,
       2, 3, 4, 3, 1, 3, 3, 4, 2, 4, 3, 3, 2, 2, 3, 2, 4, 2, 3, 2, 3, 1,
       3, 2, 3, 3, 2, 2, 2, 3, 3, 4, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 2,
       3, 4, 2, 3, 2, 3, 2, 4, 2, 2, 3, 2, 4, 2, 3, 3, 2, 2, 2, 1, 1, 2,
       4, 2, 3, 4, 4, 2, 3, 3, 3, 3, 4, 2, 2, 3, 3, 3, 3, 2, 2, 2, 2, 2,
       4, 3, 2, 3, 1, 2, 1, 3, 4, 2, 3, 2, 1, 2, 4, 3, 4, 2, 3, 2, 3, 3,
       3, 3, 1, 3, 3, 3, 2, 2, 2, 3, 2, 2, 3, 2, 3, 3, 3, 2, 3, 2, 2, 3,
       2, 3, 2, 2, 2, 3, 2, 2, 3, 3, 2, 3, 3, 2, 3, 2, 4, 2, 4, 3, 2, 2,
       5, 3, 4, 4, 2, 4, 1, 3, 2, 3, 2, 2, 2, 3, 3, 2, 3, 3, 2, 3, 2, 1,
       3, 1, 2, 3, 2, 3, 3, 5, 3, 4, 4, 3, 4, 4, 3, 2, 2, 3, 2, 2, 2, 2,
       2, 3, 3, 3, 3, 2, 4, 2, 1, 3, 3, 3, 2, 4, 2, 3, 3, 3, 3, 2, 3, 3,
       3, 4, 2, 3, 3, 2, 5, 3, 4, 3, 3, 2, 2, 2, 2, 2, 3, 0, 4, 3, 3, 3,
       2, 3, 3, 3, 2, 2, 3, 3, 3, 2, 2, 2, 5, 2, 3, 2, 2, 2, 3, 4, 3, 2,
       3, 2, 1, 2, 4, 3, 2, 3, 3, 2, 3, 2, 4, 4, 3, 2, 2, 2, 2, 2, 2, 3,
       3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 4, 2, 3, 2, 4, 3, 2, 3, 3, 2, 2, 2,
       2, 2, 3, 2, 4, 2, 2, 4, 2, 2, 3, 2, 3, 1, 3, 3, 2, 2, 2, 3, 2, 2,
       2, 3, 2, 1, 2, 3, 2, 3, 3, 2, 2, 3, 3, 2, 2, 4, 3, 0, 2, 3, 3, 3,
       3, 3, 2, 3, 3, 3, 3, 4, 3, 2, 2, 3, 3, 0, 2, 3, 4, 3, 4, 3, 2, 3,
       3, 2, 3, 2, 3, 2, 2, 3, 2, 2, 2, 3, 4, 2, 3, 2, 3, 2, 3, 3, 3, 3,
       2, 2, 4, 2, 2, 3, 2, 2, 3, 2, 5, 3, 4, 2, 2, 3, 2, 3, 2, 4, 3, 2,
       2, 4, 2, 2, 3, 4, 2, 4, 3, 2, 2, 4])

#### modeling

In [32]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

print("Training selesai!")

Training selesai!

#### evaluasi

In [33]:
y_pred = model.predict(x_test)

print("\n=== EVALUASI MODEL NAIVE BAYES ===")
print("Akurasi:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

=== EVALUASI MODEL NAIVE BAYES ===
Akurasi: 0.6244541484716157

Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.14      0.14      0.14         7
           2       0.73      0.75      0.74       100
           3       0.62      0.54      0.58        92
           4       0.46      0.63      0.53        27
           5       0.00      0.00      0.00         2

    accuracy                           0.62       229
   macro avg       0.33      0.34      0.33       229
weighted avg       0.63      0.62      0.62       229

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [ ]:

with open('models/naive_bayes_data_wine.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)

print("model dan scaler berhasil disimpan")

model dan scaler berhasil disimpan